<!DOCTYPE html>
<html>
  <head>
  	<% include ../include/file_head %>
  	<link rel="stylesheet" type="text/css" href="/css/team.css">
  	<link rel="stylesheet" type="text/css" href="/css/msgs.css">
  </head>
  <body>

  	<div class='main'>

	    <% include ../include/general_import %>

		<div class='content all-msgs'>
			<h3>消息列表</h3>

			<div class='msg-block'>
				<a href="#" class='username'>姚明</a>
				<span class='email'>499xxxxxx@qq.com</span>
				<p class='msg'>Ubuntu的每个发行版为了保持稳定性或者是因为其它原因，不会在一个版本内频繁的更新内部软件。这里指的是从官方的源，比如 我的另一篇文章 里提到cn99源就是如此。</p>
			</div>


		</div>
		<div class="clear"></div>
	</div>
	<% include ../include/page_foot %>
  </body>
  <% include ../include/file_foot %>
  <script type="text/javascript" src='/js/team.js'></script>
</html>