<!DOCTYPE html>
<html>
  <head>
  	<% include include/file_head %>
  	<% include include/timeline %>
  	<script type="text/javascript" src="/js/jungle-timeline.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>
  <body>
    <div class="main">
    	<% include include/general_import %>
    	<div id="jungle-timeline"></div>
    	<div class="clear"></div>
    </div>
    <% include include/page_foot %>
  </body>
  <% include include/file_foot %>
</html>