<meta charset='utf-8'/>
<title>Jungle</title>
<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
<link rel='stylesheet' type="text/css" href='/css/general.css' />
<link rel="stylesheet" type="text/css" href="/css/personal_block.css">

