<div class='header'>
	<a href="#" title='JUNGLE'><img src="/image/logo.png" class='header-logo'/></a>

	<div class='header-nav'>
		<div class='nav-index nav-item <%= c["首页"] %>' title='返回首页'><a href='/'>首页</a></div>
		<div class='nav-contest nav-item <%= c["赛事"] %>' title='所有赛事'><a href='/contest'>赛事</a></div>
		<div class='nav-team nav-item <%= c["队伍"] %>' title='所有队伍'><a href='/team'>队伍</a></div>
	</div>

	<div class='clear'></div>
</div>