<div class="under-construction">
	尊敬的用户您好，jungle正在建设开发中。网站自13年12月26日开始暂时停用，停用期间给您带来的不便，我们表示抱歉。感谢您的厚爱，若有关于jungle的问题，请发邮件到939549514@qq.com。谢谢。
</div>

<style type="text/css">
	.under-construction {
		font-family: "微软雅黑";
		font-size: 14pt;
		font-weight: bold;
		background-color: #49afcd;
		line-height: 25px;
		padding: 15px;
		margin: auto;
		width: 500px;
		
	}
</style>