<!DOCTYPE html>
<html>
  <head>
  	<% include ../include/file_head %>
  	<link rel="stylesheet" type="text/css" href="/css/team.css">
  	<link rel="stylesheet" type="text/css" href="/css/users_information.css">
  </head>
  <body>

  	<div class='main'>

	    <% include ../include/general_import %>

		<div class='content all-user-information'>
			<h3>这些人可能可以帮助你</h3>
			<div class="divider"></div>

			<ul>
				<li>
					<div class="user-header"><span class="username">王栩瑶</span><span class="e-mail">1234567989@qq.com</span></div>
					<div class='user-information-block'>
						<div class="tags">
							<div class="info-title">
								<span>标签 tag</span>
							</div>
							<ul class="tag-list">
								<li>
									<span class="tag-name-block">摄影</span>
									<span class="tag-description">活动、人物摄影</span>
									<div class="clear"></div>
								</li>
								<li>
									<span class="tag-name-block">摄影</span>
									<span class="tag-description">活动、人物摄影</span>
									<div class="clear"></div>
								</li>
								<li>
									<span class="tag-name-block">摄影</span>
									<span class="tag-description">活动、人物摄影</span>
									<div class="clear"></div>
								</li>
							</ul>
						</div>
						<div class="base-info">
							<div class="info-title">
								<span>基本资料 Information</span>
							</div>
							<ul class="info-list">
								<li>
									<span class="key" data-key="school">院系：</span>
									<span class="value">软件学院-计应</span>
								</li>
								<li>
									<span class="key" data-key="grade">年级：</span>
									<span class="value">2011级</span>
								</li>
								<li>
									<span class="key" data-key="e-mail">Email：</span>
									<span class="value">904642745@qq.com</span>
								</li>
								<li>
									<span class="key" data-key="self-intro">自我介绍：</span>
									<span class="value">内向文艺小清新。热爱生活热爱运动热爱张敬轩！</span>
								</li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
				</li>
			</ul>


		</div>
		<div class="clear"></div>
	</div>
	<% include ../include/page_foot %>
  </body>
  <% include ../include/file_foot %>
  <script type="text/javascript" src='/js/team.js'></script>
</html>