div(class="form-box form-horizontal")
	div.step-info 
		i(class="icon-user")
		span 材料提交需上传相应证明的
			a(href="#") PDF扫描版
		span ，具体要求请阅读
			a(href="#") 上传材料须知

	div.block
		div.control-group
			label.control-label 身份证
			div.controls
				input(name="idCard" type="text" placeholder="点击此处本地上传")

		div.control-group
			label.control-label 结婚证
			div.controls
				input(name="marryCard" type="text" placeholder="点击此处本地上传")

		div.control-group
			label.control-label 收入证明
			div.controls
				input(name="marryCard" type="text" placeholder="点击此处本地上传")


	a(href="./step3" class="btn btn-primary") 提交