div.form-box
	div.step-info 
		div
			i(class="icon-ok") 
			span 完成！
		div
			span XXX，恭喜您成功登记贷款信息。哦我们会在七个工作日内对您的登记信息进行审核，审核结果我们将通过手机短信及电子邮件方式通知您。审核通过后请携带打印版资料到银行进行签字确认。有任何疑问，欢饮
				a(href="#") 联系我们


	div.block
		div.control-group
			ul
				li 查看
					a(href="#") 个人服务
				li 进入
					a(href="#") 我的车辆收藏
				li 返回
					a(href="/index") 导航首页

