extends ../layout

block content
	include ../includes/header
	include ../includes/navigation
	link(rel="stylesheet", href="/stylesheets/common/form.css")

	div.container
		div(class="progress-bar #{curStep}")
			div(class='circle first') 1
			div(class='line second')
			div(class='circle second') 2 
			div(class='line third')
			div(class='circle third') 3
			div(class='line forth')
			div(class='circle forth') √

			div(class="bar-info")
				span(class="first-info") 验证用户名
				span(class="second-info") 填写身份信息
				span(class="third-info") 绑定信用卡
				span(class="forth-info") 成功

		form
			case curStep
				when 'first'
					include step1
				when 'second'
					include step2
				when 'third'
					include step3
				when 'forth'
					include step4
				default
					include ../error

	//- script(type="text/javascript" src="/javascripts/regist/regist.js")


