div.form-box
	div.control-group
		i(class="icon-ok")
		span xxx，恭喜您成功注册来此购账号！
		p 您的用户名：xxxxxxxxx@qq.com
		p 绑定信用卡信息：xxxxxxxxxxxxxxxxx

		div.controls
			p 下一步：登录来此购账号，开始您的购车之旅

	a(href="/index" class="btn btn-primary") 登录