<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<title>regsit in - jungle</title>
		<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/login.css" />
		
	</head>
	<body screen_capture_injected="true" youdao="bind">
		<div class="container">
			<form class="form-signin" role="form" method="post" action="/register">
				<h2 class="form-signin-heading">注册账号
					<a class="regist" href="/login">登录<i class="regist-icon icon-circle-arrow-right"></i></a>		
				</h2>
				<input name="username" type="text" class="form-control user-name" placeholder="输入用户名">

				<input name="e-mail" type="text" class="form-control e-mail" placeholder="输入邮箱">

				<input name="password" type="password" class="form-control password" placeholder="输入密码">

				<input name="re-password" type="password" class="form-control re-password" placeholder="重复输入密码">

				<span class="help-inline"></span>
				<button class="btn btn-primary regist-btn" type="submit">注册jungle</button>

			</form>

		</div>

	</body>
	<script type="text/javascript" src="/lib/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="/js/regist.js"></script>
</html>