<!DOCTYPE html>
<html>
  <head>
  	<% include ../include/file_head %>
  	<link rel="stylesheet" type="text/css" href="/css/contest.css">
  	<link rel="stylesheet" type="text/css" href="/css/create_team_modal.css">
  </head>
  <body>

  	<div class='main'>

	    <% include ../include/general_import %>
	    <% include ../include/create_team_modal %>

		<div class='content contest'>
			<% include ../include/filter %>
			<div class='divider'>
				<span class='first'></span>
				<span class='second'></span>
				<span class='third'></span>
				<span class='second'></span>
				<span class='first'></span>
			</div>

			<div class='contest-row'>
				<div class='contest-block'>
					<span class='contest-title'>全国大学生信息安全大赛中山大学选拔赛</span>
					<img src="/image/信息安全.jpg" class='contest-img'/>
					<a href="#" class='contest-detail-link'>详情+</a>
					<span class='finding-member'><span class='num'>5</span>支队伍正在寻找队员</span>
					<div class='options'>
						<span class='create-team'><i class='my-icon create-icon'></i><a href="#">创建队伍</a></span>
						<span class='join-team'><i class='my-icon join-icon'></i><a href="#">申请加入</a></span>
					</div>
				</div>
				<div class='contest-divider'></div>
				<div class='contest-block'>
					<span class='contest-title'>第十届管理学院花旗论坛</span>
					<img src="/image/花旗论坛.jpg" class='contest-img'/>
					<a href="#" class='contest-detail-link'>详情+</a>
					<span class='finding-member'><span class='num'>5</span>支队伍正在寻找队员</span>
					<div class='options'>
						<span class='create-team'><i class='my-icon create-icon'></i><a href="#">创建队伍</a></span>
						<span class='join-team'><i class='my-icon join-icon'></i><a href="#">申请加入</a></span>
					</div>
				</div>
			</div>

			<div class='divider'>
				<span class='first'></span>
				<span class='second'></span>
				<span class='third'></span>
				<span class='second'></span>
				<span class='first'></span>
			</div>

			<div class='contest-row'>
				<div class='contest-block'>
					<span class='contest-title'>中东新生网球公开赛</span>
					<img src="/image/网球大赛.jpg" class='contest-img'/>
					<a href="#" class='contest-detail-link'>详情+</a>
					<span class='finding-member'><span class='num'>15</span>支队伍正在寻找队员</span>
					<div class='options'>
						<span class='create-team'><i class='my-icon create-icon'></i><a href="#">创建队伍</a></span>
						<span class='join-team'><i class='my-icon join-icon'></i><a href="#">申请加入</a></span>
					</div>
				</div>
				<div class='contest-divider'></div>
				<div class='contest-block'>
					<span class='contest-title'>第六届“中大科技园”杯赢在中大创业技能&策划大赛</span>
					<img src="/image/赢在中大.jpg" class='contest-img'/>
					<a href="#" class='contest-detail-link'>详情+</a>
					<span class='finding-member'><span class='num'>16</span>支队伍正在寻找队员</span>
					<div class='options'>
						<span class='create-team'><i class='my-icon create-icon'></i><a href="#">创建队伍</a></span>
						<span class='join-team'><i class='my-icon join-icon'></i><a href="#">申请加入</a></span>
					</div>
				</div>
			</div>

		</div>
		<div class="clear"></div>
	</div>
	<% include ../include/page_foot %>
  </body>
  <% include ../include/file_foot %>
  <script type="text/javascript" src='/js/contest.js'></script>
  <script type="text/javascript" src='/js/create_team_modal.js'></script>
</html>